body{
    background-color: #FFCF00;
}


h1{
    color : red;
    text-align: center;
}

#img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
    }

p{ 
    display: block;
    padding:20px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    background-color: aliceblue;
}

button{
    display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
      padding: 100px;
      background-image: linear-gradient(90deg, #00C0FF 0%, #FFCF00 49%, #FC4F4F 80%, #00C0FF 100%);
      border-radius:5px;
      align-items:center;
      justify-content:center;
      text-transform:uppercase;
      font-size:3vw;
      font-weight:bold;
      }

#message2{
    display: hidden;
      margin-left: auto;
      margin-right: auto;
      width: 50%;

}


